@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  vertical-align: baseline; }

:focus {
  outline: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 02px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, htmlinput[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled], htmlinput[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, button, input, select, textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

* {
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background: white;
  color: #4b4b4b;
  margin: 0px;
  font-size: 16px; }

h1,
h2,
h3,
h4,
input {
  font-family: 'Roboto', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: none;
  color: #363636; }

.section-outer {
  padding-right: 20px;
  padding-left: 20px; }

.section-inner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

header {
  background: url("/img/main_back_2.jpg") no-repeat;
  background-size: cover; }
  @media (max-width: 991px) {
    header {
      background-position: 60%; } }
  @media (max-width: 500px) {
    header {
      background-position: 98%; } }

button {
  font-size: 21px;
  background-color: #FF8C00; }

.section-preheader {
  height: 10vh;
  background: rgba(0, 0, 0, 0.5); }
  .section-preheader-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh; }
    .section-preheader-content__logo, .section-preheader-content__nav, .section-preheader-content__contacts {
      flex-basis: 393px; }
    .section-preheader-content__logo {
      padding-left: 20px; }
      .section-preheader-content__logo a {
        color: #fff;
        font-weight: 700; }
        .section-preheader-content__logo a span {
          color: #FF8C00; }
    .section-preheader-content__nav-list {
      display: flex;
      justify-content: space-between; }
      .section-preheader-content__nav-list li a {
        color: #fff; }
        .section-preheader-content__nav-list li a:hover {
          color: #8d8d8d; }
    .section-preheader-content__contacts {
      display: flex;
      flex-direction: column;
      color: #fff;
      line-height: 25px; }
      .section-preheader-content__contacts a {
        margin-left: auto;
        color: #fff;
        font-size: 22px;
        font-weight: 700; }
        .section-preheader-content__contacts a:hover {
          color: #8d8d8d; }
      .section-preheader-content__contacts span {
        margin-left: auto; }
  @media (max-width: 767px) {
    .section-preheader-content__nav {
      display: none; } }
  @media (max-width: 500px) {
    .section-preheader {
      height: 90px; }
      .section-preheader-content {
        padding: 10px 0;
        height: 90px;
        flex-direction: column; }
        .section-preheader-content__logo {
          padding-left: 0; } }

.section-header {
  height: 75vh; }
  .section-header-container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    height: 100%;
    padding: 5% 0;
    justify-content: space-between; }
  .section-header-content {
    align-self: center; }
    .section-header-content__title {
      margin-top: 0;
      margin-bottom: 60px;
      color: #fff;
      font-weight: 300;
      font-size: 36px; }
      .section-header-content__title b {
        font-weight: 700;
        line-height: 77px;
        font-size: 48px; }
    .section-header-content__subtitle {
      font-size: 24px;
      font-weight: 700;
      color: #000; }
      .section-header-content__subtitle::before {
        content: url("/img/nike.svg");
        padding-right: 20px;
        vertical-align: middle; }
  .section-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: flex-end; }
    .section-header-wrapper::after {
      position: absolute;
      content: url("/img/sale.png");
      top: 213px;
      left: -50px; }
    .section-header-wrapper__form {
      background: #fff;
      max-width: 515px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px;
      box-shadow: 0 0 10px #b9b9b9;
      position: relative;
      font-size: 21px;
      height: 341px; }
      .section-header-wrapper__form-title {
        font-size: 21px; }
        .section-header-wrapper__form-title::before {
          content: url("/img/pencil.svg");
          padding-right: 20px;
          vertical-align: middle; }
      .section-header-wrapper__form-sale {
        font-size: 21px;
        display: flex;
        flex-wrap: wrap; }
        .section-header-wrapper__form-sale__timer {
          padding-left: 10px; }
          .section-header-wrapper__form-sale__timer-hours, .section-header-wrapper__form-sale__timer-minutes, .section-header-wrapper__form-sale__timer-seconds {
            border: 1px solid #EBEBEB;
            background: rgba(255, 255, 255, 0.25);
            padding: 4px;
            border-radius: 2px; }
      .section-header-wrapper__form::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9) url("../img/loading.gif") center/50px no-repeat;
        opacity: 0;
        visibility: hidden; }
      .section-header-wrapper__form._sending::after {
        opacity: 1;
        visibility: visible; }
      .section-header-wrapper__form::before {
        content: 'Заявка отправлена!';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eff6f5 url("../img/anim-check.gif") center/50px no-repeat;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        line-height: 22; }
      .section-header-wrapper__form._welldone::before {
        opacity: 1;
        visibility: visible;
        z-index: 9; }
      .section-header-wrapper__form-input, .section-header-wrapper__form-checkbox {
        margin-bottom: 10px; }
      .section-header-wrapper__form-input input {
        width: 313px;
        border: 1px solid #EBEBEB;
        background: rgba(255, 255, 255, 0.25);
        padding: 10px 20px;
        outline: none;
        border-radius: 2px;
        transition: all 0.5s ease 0s; }
        .section-header-wrapper__form-input input::-moz-placeholder {
          color: #b9b9b9; }
        .section-header-wrapper__form-input input:-ms-input-placeholder {
          color: #b9b9b9; }
        .section-header-wrapper__form-input input::placeholder {
          color: #b9b9b9; }
        .section-header-wrapper__form-input input:focus {
          box-shadow: 0 0 15px #b9b9b9; }
        .section-header-wrapper__form-input input._error {
          box-shadow: 0 0 10px #cc3333; }
      .section-header-wrapper__form-checkbox {
        font-size: 12px;
        display: none; }
        .section-header-wrapper__form-checkbox._error label::before {
          box-shadow: 0 0 10px #cc3333;
          transition: all 0.5s ease 0s; }
        .section-header-wrapper__form-checkbox__input:checked + .section-header-wrapper__form-checkbox__label::after {
          transform: scale(1); }
        .section-header-wrapper__form-checkbox__input {
          display: none; }
        .section-header-wrapper__form-checkbox__label {
          line-height: 140%;
          display: inline-flex;
          align-items: center;
          position: relative; }
          .section-header-wrapper__form-checkbox__label::before {
            content: "";
            align-self: flex-start;
            flex: 0 0 24px;
            height: 24px;
            border-radius: 4px;
            margin: 0px 10px 0px 0px;
            background-color: #EBEBEB;
            cursor: pointer; }
          .section-header-wrapper__form-checkbox__label::after {
            transition: transform 0.5s ease 0s;
            content: "";
            width: 16px;
            height: 16px;
            position: absolute;
            top: 4px;
            left: 4px;
            background-color: #9e9e9e;
            border-radius: 4px;
            transform: scale(0); }
          .section-header-wrapper__form-checkbox__label span a {
            color: #9e9e9e; }
      .section-header-wrapper__form-button {
        text-align: center; }
        .section-header-wrapper__form-button button {
          margin: 0;
          padding: 16px 20px;
          text-transform: uppercase;
          border: none;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
          box-shadow: 0 5px 0 #EBEBEB;
          letter-spacing: 1px;
          transition: background-color 0.5s ease 0s;
          position: relative;
          top: 0; }
          .section-header-wrapper__form-button button:active {
            top: 3px;
            box-shadow: 0 2px 0 #EBEBEB; }
          .section-header-wrapper__form-button button:focus {
            outline: none; }
  @media (min-width: 500px) and (max-width: 1499px) {
    .section-header-content__title {
      text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0; } }
  @media (min-width: 1200px) {
    .section-header-wrapper__subtitle {
      padding-right: 30px; } }
  @media (min-width: 1200px) and (max-width: 1499px) {
    .section-header-wrapper__image {
      margin-left: -22px; } }
  @media (max-width: 1199px) {
    .section-header-wrapper {
      flex-wrap: wrap; }
      .section-header-wrapper__form::before {
        content: 'Заявка отправлена!';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eff6f5 url("../img/anim-check.gif") center/50px no-repeat;
        opacity: 0;
        visibility: hidden;
        text-align: center;
        line-height: 22; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .section-header-content__title {
      font-size: 32px; }
      .section-header-content__title b {
        font-size: 40px; }
    .section-header-content__subtitle {
      font-size: 22px; }
    .section-header-wrapper {
      padding-bottom: 30px; }
      .section-header-wrapper::after {
        left: -51px; }
      .section-header-wrapper__image {
        flex-basis: 30%;
        margin-bottom: -30px; }
      .section-header-wrapper__subtitle {
        flex-basis: 30%; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .section-header-wrapper__image {
      margin-left: 0px; }
    .section-header-wrapper__subtitle {
      max-width: 100%;
      text-align: left;
      padding: 30px; } }
  @media (max-width: 991px) {
    .section-header {
      height: 100%; }
      .section-header-content {
        flex-basis: 100%; }
        .section-header-content__title {
          line-height: 47px;
          font-size: 32px;
          margin-bottom: 10px; }
          .section-header-content__title b {
            font-size: 38px;
            line-height: 24px; }
        .section-header-content__subtitle {
          font-size: 22px; }
      .section-header-wrapper {
        flex-basis: 100%;
        align-self: center; }
        .section-header-wrapper__image {
          margin-left: 0px;
          flex-basis: 50%; }
        .section-header-wrapper__subtitle {
          flex-basis: 100%;
          border: 1px solid #363636;
          margin-top: -5px; } }
  @media (max-width: 767px) {
    .section-header-container {
      flex-direction: column;
      align-content: center;
      padding-bottom: 60px; }
    .section-header-content {
      width: 100%;
      margin-bottom: 30px; }
    .section-header-wrapper {
      align-self: flex-end; }
      .section-header-wrapper::after {
        left: -50px; }
      .section-header-wrapper__image {
        margin-left: 0px;
        flex-basis: 50%; }
      .section-header-wrapper__subtitle {
        flex-basis: 100%;
        border: 1px solid #363636;
        margin-top: -5px; } }
  @media (max-width: 575px) {
    .section-header-wrapper__form {
      padding: 20px; } }
  @media (max-width: 500px) {
    .section-header-content__title {
      color: #32CD32; }
    .section-header-wrapper {
      align-self: center; }
      .section-header-wrapper::after {
        display: none; } }
  @media (max-width: 375px) {
    .section-header-content__title {
      font-size: 24px; }
      .section-header-content__title b {
        font-size: 28px; }
    .section-header-content__subtitle {
      font-size: 18px; }
      .section-header-content__subtitle::before {
        padding-right: 10px; }
    .section-header-wrapper__form {
      width: 335px; }
      .section-header-wrapper__form-title::before {
        padding-right: 10px; }
      .section-header-wrapper__form-input._error::before {
        font-size: 15px;
        top: 245px; }
      .section-header-wrapper__form-input input {
        width: 300px; } }
  @media (max-width: 330px) {
    .section-header-wrapper__form {
      width: 300px; } }

.section-promo {
  background: #FF8C00; }
  .section-promo-content {
    margin: 60px 0 30px; }
  .section-promo-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .section-promo-container__box {
      color: #fff;
      flex-basis: 216px;
      height: 326px;
      display: flex;
      flex-direction: column; }
      .section-promo-container__box-icon {
        text-align: center;
        margin-bottom: 20px; }
      .section-promo-container__box-title, .section-promo-container__box-subtitle {
        text-align: center; }
      .section-promo-container__box-title {
        font-weight: 700;
        font-size: 24px; }
      .section-promo-container__box-subtitle {
        font-size: 18px; }
  @media (max-width: 991px) {
    .section-promo-container {
      flex-wrap: wrap; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .section-promo-container__box {
      flex-basis: 50%; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .section-promo-container__box {
      flex-basis: 50%; }
      .section-promo-container__box-title {
        font-size: 22px; }
      .section-promo-container__box-subtitle {
        font-size: 18px;
        word-wrap: break-word; } }
  @media (max-width: 500px) {
    .section-promo-container__box {
      flex-basis: 50%; }
      .section-promo-container__box-title {
        font-size: 20px; }
      .section-promo-container__box-subtitle {
        font-size: 18px; } }

@media (max-width: 500px) and (max-width: 330px) {
  .section-promo-container__box-title {
    font-size: 17px; }
  .section-promo-container__box-subtitle {
    font-size: 16px; } }

.section-whywe {
  background: #EBEBEB;
  padding: 60px 0 0; }
  .section-whywe-content__title, .section-whywe-content__subtitle {
    text-align: center; }
  .section-whywe-content__title {
    font-size: 30px;
    margin: 0; }
  .section-whywe-content__subtitle {
    font-size: 24px;
    margin: 10px 0 60px; }
  .section-whywe-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }
    .section-whywe-wrapper__box {
      flex-basis: 195px; }
      .section-whywe-wrapper__box:first-child {
        margin-bottom: 60px; }
      .section-whywe-wrapper__box-icon {
        text-align: center;
        margin-bottom: 30px; }
        .section-whywe-wrapper__box-icon img {
          cursor: pointer; }
        .section-whywe-wrapper__box-icon h4 {
          font-weight: 700;
          margin-bottom: 0; }
      .section-whywe-wrapper__box-title, .section-whywe-wrapper__box-subtitle {
        font-size: 18px;
        text-align: center;
        font-weight: 400; }
  @media (max-width: 1199px) {
    .section-whywe-wrapper {
      justify-content: center; } }
  @media (max-width: 575px) {
    .section-whywe {
      padding: 30px 0px; }
      .section-whywe-wrapper {
        flex-wrap: wrap; } }
  @media (max-width: 575px) and (max-width: 500px) {
    .section-whywe-content__subtitle {
      padding: 0 5px;
      font-size: 21px; }
    .section-whywe-wrapper {
      flex-wrap: wrap; }
      .section-whywe-wrapper__box {
        flex-basis: 160px; } }

.section-brands {
  background: #EBEBEB;
  padding-bottom: 90px; }
  .section-brands-content__title {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding: 60px 0 15px; }
  .section-brands-content__slider {
    width: 1180px;
    overflow: hidden;
    margin: 0 auto; }
    .section-brands-content__slider-line {
      width: 3376px;
      display: flex;
      position: relative;
      left: 0;
      transition: all ease 1s; }
  .section-brands-content__button {
    position: relative; }
    .section-brands-content__button-prev, .section-brands-content__button-next {
      position: absolute;
      border: 0;
      background: transparent;
      bottom: 31px; }
    .section-brands-content__button-prev {
      left: -30px; }
    .section-brands-content__button-next {
      right: -30px; }
  @media (max-width: 1260px) {
    .section-brands-content__slider {
      width: 944px; }
    .section-brands-content__button-prev, .section-brands-content__button-next {
      position: relative;
      bottom: -35px; }
    .section-brands-content__button-prev {
      left: 45%; }
    .section-brands-content__button-next {
      right: 0;
      left: 50%; } }
  @media (max-width: 1000px) {
    .section-brands-content__slider {
      width: 708px; } }
  @media (max-width: 760px) {
    .section-brands-content__slider {
      width: 472px; } }
  @media (max-width: 530px) {
    .section-brands-content__slider {
      width: 236px; } }

.section-instructions {
  position: relative; }
  .section-instructions .accordion {
    background-color: #eee;
    color: #363636;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    font-weight: bold;
    margin-bottom: 20px; }
  .section-instructions .active {
    margin-bottom: 0px; }
  .section-instructions .active,
  .section-instructions .accordion:hover {
    background-color: #ccc; }
  .section-instructions .accordion::before {
    content: url("/img/next.svg");
    padding-right: 26px;
    padding-left: 20px;
    vertical-align: middle; }
  .section-instructions .active::before {
    content: url("/img/gbottom.svg");
    padding-right: 20px;
    padding-left: 20px;
    vertical-align: middle; }
  .section-instructions .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-out; }
    .section-instructions .panel ul {
      padding-left: 40px; }
      .section-instructions .panel ul li {
        font-size: 18px; }
        .section-instructions .panel ul li span {
          visibility: hidden; }
  .section-instructions-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 564px;
    right: 25%;
    bottom: 12%; }
  .section-instructions .panelThree__title {
    padding-bottom: 20px; }
  @media (max-width: 1599px) {
    .section-instructions {
      background: url("/img/family.jpg") no-repeat;
      background-size: cover;
      height: 600px; }
      .section-instructions img {
        display: none; }
      .section-instructions-content {
        position: relative;
        right: 0;
        bottom: 0;
        left: 51%;
        top: 90px; } }
  @media (max-width: 1440px) {
    .section-instructions {
      background-position-x: 30%; } }
  @media (max-width: 1260px) {
    .section-instructions-content {
      left: 40%;
      top: 90px; } }
  @media (max-width: 991px) {
    .section-instructions {
      background-position-x: 40%; }
      .section-instructions-content {
        left: 20%; } }
  @media (max-width: 767px) {
    .section-instructions {
      background-position-x: 45%; }
      .section-instructions .accordion {
        width: 80%; }
      .section-instructions .panel {
        width: 80%; }
      .section-instructions-content {
        left: 10%;
        top: 30px; } }
  @media (max-width: 680px) {
    .section-instructions {
      background-position-x: 74%; }
      .section-instructions-content {
        left: 0;
        top: 30px; } }
  @media (max-width: 500px) {
    .section-instructions .accordion {
      width: 100%; }
    .section-instructions .panel {
      width: 100%;
      padding: 0 5px; } }
  @media (max-width: 330px) {
    .section-instructions {
      height: 720px; }
      .section-instructions .accordion {
        font-size: 16px; }
        .section-instructions .accordion::before {
          padding-left: 0px; } }

.section-footercall {
  background: #32CD32; }
  .section-footercall-container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    padding: 30px 0 60px; }
  .section-footercall-content {
    padding: 0 60px;
    display: flex;
    flex-direction: column; }
    .section-footercall-content__title {
      text-align: center;
      font-size: 30px;
      font-weight: 700; }
    .section-footercall-content__slider {
      width: 720px;
      overflow: hidden;
      margin: 0 auto; }
      .section-footercall-content__slider-line {
        width: 1080px;
        display: flex;
        position: relative;
        left: 0;
        transition: all ease 1s; }
        .section-footercall-content__slider-line img {
          width: 150px;
          height: 150px;
          margin: 0 15px; }
          .section-footercall-content__slider-line img:last-child {
            margin-right: 30px; }
    .section-footercall-content__button {
      position: relative; }
      .section-footercall-content__button-prev, .section-footercall-content__button-next {
        position: absolute;
        border: 0;
        background: transparent;
        bottom: 65px; }
      .section-footercall-content__button-prev {
        left: -25px; }
      .section-footercall-content__button-next {
        right: -27px; }
    .section-footercall-content__information {
      margin-top: 60px;
      display: flex;
      align-items: center; }
      .section-footercall-content__information-logo {
        margin-left: -20px; }
        .section-footercall-content__information-logo a {
          color: #fff;
          font-weight: 700; }
          .section-footercall-content__information-logo a span {
            color: #FF8C00; }
      .section-footercall-content__information-contacts {
        display: flex;
        flex-direction: column;
        color: #fff;
        line-height: 25px;
        margin-left: auto;
        margin-right: -20px; }
        .section-footercall-content__information-contacts a {
          margin-left: auto;
          color: #fff;
          font-size: 22px;
          font-weight: 700; }
        .section-footercall-content__information-contacts span {
          margin-left: auto; }
  .section-footercall-wrapper {
    display: flex; }
    .section-footercall-wrapper__form {
      display: flex;
      flex-direction: column;
      padding: 0;
      position: relative;
      justify-content: space-around; }
      .section-footercall-wrapper__form-subtitle {
        font-size: 18px;
        text-align: center;
        line-height: 25px;
        color: #fff; }
      .section-footercall-wrapper__form::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.9) url("../img/loading.gif") center/50px no-repeat;
        opacity: 0;
        visibility: hidden; }
      .section-footercall-wrapper__form._footsending::after {
        opacity: 1;
        visibility: visible; }
      .section-footercall-wrapper__form::before {
        content: 'Заявка отправлена!';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #eff6f5 url("../img/anim-check.gif") center/50px no-repeat;
        opacity: 0;
        visibility: hidden;
        line-height: 29;
        text-align: center; }
      .section-footercall-wrapper__form._welldone::before {
        opacity: 1;
        visibility: visible;
        z-index: 9; }
      .section-footercall-wrapper__form-input input {
        width: 100%;
        border: 1px solid #EBEBEB;
        background: #fff;
        margin: 0;
        padding: 10px 20px;
        outline: none;
        border-radius: 2px;
        transition: all 0.5s ease 0s; }
        .section-footercall-wrapper__form-input input::-moz-placeholder {
          color: #b9b9b9;
          font-size: 21px; }
        .section-footercall-wrapper__form-input input:-ms-input-placeholder {
          color: #b9b9b9;
          font-size: 21px; }
        .section-footercall-wrapper__form-input input::placeholder {
          color: #b9b9b9;
          font-size: 21px; }
        .section-footercall-wrapper__form-input input:focus {
          box-shadow: 0 0 5px #fff; }
        .section-footercall-wrapper__form-input input._error {
          outline: 2px solid #cc3333;
          box-shadow: 0 0 20px #cc3333; }
      .section-footercall-wrapper__form-button {
        text-align: center;
        background: #32CD32;
        align-self: center; }
        .section-footercall-wrapper__form-button button {
          margin: 0;
          padding: 16px 20px;
          font-size: 21px;
          text-transform: uppercase;
          border: none;
          border-radius: 4px;
          color: #fff;
          cursor: pointer;
          letter-spacing: 1px;
          transition: background-color 0.5s ease 0s;
          position: relative;
          top: 0; }
          .section-footercall-wrapper__form-button button:active {
            top: 3px; }
          .section-footercall-wrapper__form-button button:focus {
            outline: none; }
  @media (max-width: 1199px) {
    .section-footercall-content__slider {
      width: 540px; } }
  @media (max-width: 991px) {
    .section-footercall-content__slider {
      width: 360px; } }
  @media (max-width: 767px) {
    .section-footercall-container {
      flex-direction: column; }
    .section-footercall-wrapper {
      order: -1;
      align-self: center;
      height: 300px; } }
  @media (max-width: 500px) {
    .section-footercall-content__information {
      flex-direction: column;
      align-content: center; }
      .section-footercall-content__information-contacts {
        margin: 0; }
    .section-footercall-content__slider {
      width: 180px; } }
  @media (max-width: 330px) {
    .section-footercall-content {
      padding: 0 40px; } }

.section-copyright {
  height: 90px;
  /*callback button*/
  /* animations icon */
  /* / callback button */ }
  .section-copyright p {
    text-align: center;
    line-height: 60px; }
  .section-copyright .callback-bt {
    background: #03a9f4;
    border: 2px solid #03a9f4;
    border-radius: 50%;
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3);
    cursor: pointer;
    height: 68px;
    text-align: center;
    width: 68px;
    position: fixed;
    right: 8%;
    bottom: 18%;
    z-index: 999;
    transition: .3s;
    -webkit-animation: hoverWave linear 1s infinite;
    animation: hoverWave linear 1s infinite; }
  .section-copyright .callback-bt .text-call {
    height: 63px;
    width: 63px;
    border-radius: 50%;
    position: relative;
    overflow: hidden; }
  .section-copyright .callback-bt .text-call span {
    text-align: center;
    color: #03a9f4;
    opacity: 0;
    font-size: 0;
    position: absolute;
    right: 2px;
    top: 22px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
    transition: opacity .3s linear;
    font-family: 'montserrat', Arial, Helvetica, sans-serif; }
  .section-copyright .callback-bt .text-call:hover span {
    opacity: 1;
    font-size: 11px; }
  .section-copyright .callback-bt:hover i {
    display: none; }
  .section-copyright .callback-bt:hover {
    z-index: 1;
    background: #fff;
    color: transparent;
    transition: .3s; }
  .section-copyright .callback-bt:hover i {
    color: #03a9f4;
    font-size: 40px;
    transition: .3s; }
  .section-copyright .callback-bt i {
    color: #fff;
    font-size: 34px;
    transition: .3s;
    line-height: 66px;
    transition: .5s ease-in-out; }
  .section-copyright .callback-bt i {
    animation: 1200ms ease 0s normal none 1 running shake;
    animation-iteration-count: infinite;
    -webkit-animation: 1200ms ease 0s normal none 1 running shake;
    -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2); }
  40% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2); }
  80% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067); }
  100% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0); } }

@keyframes hoverWave {
  0% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2); }
  40% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2); }
  80% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067); }
  100% {
    box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0); } }

@keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg); }
  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg); }
  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg); }
  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg); }
  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg); }
  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg); }
  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg); }
  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg); }
  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg); }
  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg); }
  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg); } }

@-webkit-keyframes shake {
  0% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg); }
  10% {
    transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    -webkit-transform: rotateZ(-30deg); }
  20% {
    transform: rotateZ(15deg);
    -ms-transform: rotateZ(15deg);
    -webkit-transform: rotateZ(15deg); }
  30% {
    transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    -webkit-transform: rotateZ(-10deg); }
  40% {
    transform: rotateZ(7.5deg);
    -ms-transform: rotateZ(7.5deg);
    -webkit-transform: rotateZ(7.5deg); }
  50% {
    transform: rotateZ(-6deg);
    -ms-transform: rotateZ(-6deg);
    -webkit-transform: rotateZ(-6deg); }
  60% {
    transform: rotateZ(5deg);
    -ms-transform: rotateZ(5deg);
    -webkit-transform: rotateZ(5deg); }
  70% {
    transform: rotateZ(-4.28571deg);
    -ms-transform: rotateZ(-4.28571deg);
    -webkit-transform: rotateZ(-4.28571deg); }
  80% {
    transform: rotateZ(3.75deg);
    -ms-transform: rotateZ(3.75deg);
    -webkit-transform: rotateZ(3.75deg); }
  90% {
    transform: rotateZ(-3.33333deg);
    -ms-transform: rotateZ(-3.33333deg);
    -webkit-transform: rotateZ(-3.33333deg); }
  100% {
    transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    -webkit-transform: rotateZ(0deg); } }

#callForm {
  display: none; }
  #callForm._show {
    display: block; }
  #callForm._hide {
    display: none; }

#overlay {
  background: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9990; }

#modal {
  position: fixed;
  max-width: 600px;
  height: auto;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#closepopup {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 15px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 11px; }
  @media (max-width: 767px) {
    #closepopup {
      top: -10px;
      right: -5px; } }

@-webkit-keyframes rota {
  25% {
    transform: rotate(360deg); } }

@keyframes rota {
  25% {
    transform: rotate(360deg); } }

.modal__popup {
  z-index: 10; }
  .modal__popup:hover {
    -webkit-animation: rota 4s infinite normal;
            animation: rota 4s infinite normal;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }
  .modal__popup i {
    width: 30px;
    height: 30px;
    background: url(https://codernote.ru/files/cross.png) no-repeat center center;
    background-size: 16px 16px;
    display: block; }
    .modal__popup i:focus {
      cursor: pointer; }

.modal__form {
  background: #fff;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px;
  box-shadow: 0 0 10px #b9b9b9;
  position: relative;
  align-items: center; }
  .modal__form p {
    font-size: 18px; }
  .modal__form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9) url("../img/loading.gif") center/50px no-repeat;
    opacity: 0;
    visibility: hidden; }
  .modal__form._modalsending::after {
    opacity: 1;
    visibility: visible; }
  .modal__form::before {
    content: 'Заявка отправлена!';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #eff6f5 url("../img/anim-check.gif") center/50px no-repeat;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    line-height: 24; }
  .modal__form._welldone::before {
    opacity: 1;
    visibility: visible;
    z-index: 9; }
  .modal__form-title {
    padding-left: 10px;
    font-size: 24px; }
  .modal__form-input {
    margin-bottom: 30px; }
    .modal__form-input input {
      width: 313px;
      border: 1px solid #EBEBEB;
      background: rgba(255, 255, 255, 0.25);
      padding: 10px 20px;
      outline: none;
      border-radius: 4px;
      transition: all 0.5s ease 0s; }
      .modal__form-input input::-moz-placeholder {
        color: #b9b9b9;
        font-size: 18px; }
      .modal__form-input input:-ms-input-placeholder {
        color: #b9b9b9;
        font-size: 18px; }
      .modal__form-input input::placeholder {
        color: #b9b9b9;
        font-size: 18px; }
      .modal__form-input input:focus {
        box-shadow: 0 0 15px #b9b9b9; }
      .modal__form-input input._error {
        box-shadow: 0 0 10px #cc3333; }
  .modal__form-button {
    text-align: center; }
    .modal__form-button button {
      margin: 0;
      padding: 16px 20px;
      font-size: 21px;
      text-transform: uppercase;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      box-shadow: 0 5px 0 #EBEBEB;
      letter-spacing: 1px;
      transition: background-color 0.5s ease 0s;
      position: relative;
      top: 0; }
      .modal__form-button button:active {
        top: 3px;
        box-shadow: 0 2px 0 #EBEBEB; }
      .modal__form-button button:focus {
        outline: none; }
  @media (max-width: 767px) {
    .modal__form {
      padding-left: 10px;
      max-width: 310px;
      text-align: center; }
      .modal__form-title {
        font-size: 24px; }
      .modal__form-input {
        width: 250px; }
        .modal__form-input input {
          box-sizing: border-box;
          width: 100%; } }

.accShow {
  visibility: visible !important; }
